* {
  margin: 0;
  padding: 0;
  font-family: 'Alimama ShuHeiTi';
  scrollbar-width: thin;
}


.intro {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 74vw;
  height: auto;
  margin-top: 24vw;
  text-align: center;
  line-height: 1.5rem;
}

@font-face {
  font-family: 'Alimama ShuHeiTi';
  src: url(./css/AlimamaShuHeiTi-Bold.ttf);
}

.sidebar-right a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.bg-mask {
  background: rgba(0, 0, 0, 0.83)
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
}

.title-anime {
  transform-origin: center center;
  transform: rotate(-21deg);
  left: -30vw;
  top: 36vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 70%, transparent);
}
