* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

.sidebar-left {
  font-family: 'Alimama ShuHeiTi';
}

.sidebar-right {
  font-family: 'Alimama ShuHeiTi';
}

.mid-text {
  font-family: 'Alimama ShuHeiTi';
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 17px;
}

.intro {
  position: relative;
  color: white;
  font-size: 1.5625vw;
  font-weight: bold;
  width: 59.84375vw;
  height: 22.31481481vh;
  top: 28vh;
  text-align: center;
  line-height: 2.60vw;
}

@font-face {
  font-family: 'Alimama ShuHeiTi';
  src: url(./css/AlimamaShuHeiTi-Bold.ttf);
}

.sidebar-right a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

:root {
  --max-height: max(50vw, 100vh);
}

.bg-2 {
  height: var(--max-height);
}

.bg-mask {
  height: var(--max-height);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.64) 66%, transparent);
}

.sidebar-left {
  /* 解决滚动条出现挤压页面宽度，影响布局 */
  margin-right: calc(100% - 100vw)
}

.bottom-arrow-background {
  position: absolute;
  top: 84vh;
  width: 100vw;
  height: 12rem;
  margin-left: 10px;
  text-align: center;
  overflow: hidden;
}

.police {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}